#chessboard {
  width: 800px;
  height: 800px;
  /* max-height: 90vw;
  max-width:90vw; */
  background-color: #71b563;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  border-radius: 10px;
  overflow: hidden;
}
