
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-piece {
  width: 100px;
  height:100px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;  
}

.white-tile {
  background-color: #d3e7e9;
}

.black-tile {
  background-color: #4B739A;
}